<div id="<%= dom_id user %>">


  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
  <strong>Name:</strong>
  <%= user.name %>
</p>

<p>
  <strong>Average Handicap:</strong>
  <%= user.average_handicap || "No rounds recorded yet" %>
</p>


</div>
