<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= course.location %>
  </p>

  <p>
    <strong>Par:</strong>
    <%= course.par %>
  </p>

</div>
